body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
   flex-grow: 1;
}
.navtext{
    color: aliceblue;
}
.tamañoMain{
    height: 100%;
    width: 100%;
}
.borde{
    border-radius: 40px;
}
.divReloj{
    height: 100%;
}
.fontsize{
    font-size: larger;
}